<div class="navbar-container">
    <div class="navbar-logo">
        <img src="assets/img/logos/logo_colored.png" alt="logo" />
    </div>
    <div class="navbar-links">
        <a routerLink="/home" routerLinkActive="active">Accueil</a>
        <a routerLink="/about" routerLinkActive="active">Publications</a>
        <a routerLink="/contact" routerLinkActive="active">Nsihet Mjarreb</a>
    </div>
    <div class="navbar-login">
        <a style="text-decoration: none;" class="secondary-btn" routerLink="/login" routerLinkActive="active">
            <i class="fa fa-sign-in-alt"></i>
            <span>Login</span>
        </a>
    </div>
</div>