<div class="posts-category-header">
    <div class="left-part">
        <div class="search-bar">
            <div class="search-btn">
                <label for="search">Search for stuff</label>
                <input id="search" type="search" placeholder="Search..." autofocus required />
                <button type="submit">Chercher</button>    
            </div>
            <div class="category-title">{{ category.titre }}</div>
        </div>
    </div>
    <div class="right-part">
        <img src="../../../assets/img/categories/sante.png" alt="">
    </div>
</div>
<div class="main-container container-box">
    <div class="container-header">
        <div class="page-title">
            Discussion
        </div>
        <div class="page-subtitle">
            
        </div>
    </div>
    <div class="container-content d-flex flex-column align-items-center">
        <div class="w-100 d-flex justify-content-center" *ngIf="loader">
            <span class="loader"></span>
        </div>
        <div class="add-post-container" *ngIf="!loader">
            <form action="">
                <div class="header">
                    <img src="https://ui-avatars.com/api/?background=random&name=test+test&rounded=true" alt="" class="member-avatar">
                    <div class="post-title">
                        <label for="title">Titre</label>
                        <input type="text" placeholder="Posez votre question..." [(ngModel)]="postToAdd.titre" name="title" id="title">
                    </div>
                </div>
                <div class="body">
                    <label for="content">Description</label>
                    <textarea name="content" [(ngModel)]="postToAdd.contenu" placeholder="Décrivez votre situation" id="content"></textarea>
                    <button type="submit" class="primary-btn" (click)="addPost()">
                        <span *ngIf="!addLoader">Publier</span>
                        <div class="w-100 d-flex justify-content-center" *ngIf="addLoader">
                            <span class="loader"></span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
        <div class="posts-container" *ngIf="posts.length != 0">
            <div class="post-container" *ngFor="let post of posts">
                <div class="post-header">
                    <div class="author-avatar">
                        <img src="https://ui-avatars.com/api/?background=random&name=test+test&rounded=true" alt="">
                    </div>
                    <div class="publishing-details">
                        <div class="author-name">
                            {{ post.auteur.prenom }} {{ post.auteur.nom }}
                        </div>
                        <div class="post-date">
                            {{ post.date_creation | date: 'dd/MM/yyyy' }}
                        </div>
                    </div>
                    <div class="action-btn">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                              <path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="post-content">
                    <h5>{{ post.titre }}</h5>
                    {{ post.contenu }}
                </div>
                <div class="post-footer">
                    <div class="reactions">
                        <div class="reaction-container">
                            <div class="reaction-icon" [ngStyle]="{'color': post.treatedReactions.userReaction === '1' ? 'red' : ''}" (click)="reactToPost(post.id, '1')">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <div class="reaction-count">
                                {{ post.treatedReactions.likes }}
                            </div>
                        </div>
                        <div class="reaction-container">
                            <div class="reaction-icon" [ngStyle]="{'color': post.treatedReactions.userReaction === '2' ? 'red' : ''}" (click)="reactToPost(post.id, '2')">
                                <i class="fas fa-thumbs-down"></i>
                            </div>
                            <div class="reaction-count">
                                {{ post.treatedReactions.dislikes }}
                            </div>
                        </div>
                        <div class="reaction-container">
                            <div class="reaction-icon" [ngStyle]="{'color': post.treatedReactions.userReaction === '3' ? 'red' : ''}" (click)="reactToPost(post.id, '3')">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="reaction-count">
                                {{ post.treatedReactions.loves }}
                            </div>
                        </div>
                    </div>
                    <div class="add-comment">
                        <input type="text" placeholder="Ajouter un commentaire..." (keyup)="setCommentContent($event)">
                        <button class="add-comment-btn" (click)="addComment(post.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512" *ngIf="!commentAddLoader">
                                <path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"/>
                            </svg>
                            <div class="w-100 d-flex justify-content-center" *ngIf="commentAddLoader">
                                <span class="loader"></span>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="post-comments-container" *ngIf="post.commentaires">
                    <div class="comment-container" *ngFor="let comment of post.commentaires">
                        <div class="comment-header">
                            <div class="author-avatar">
                                <img src="https://ui-avatars.com/api/?background=random&name=test+test&rounded=true" alt="">
                            </div>
                            <div class="publishing-details">
                                <div class="author-name">
                                    {{ comment.auteur.prenom }} {{ comment.auteur.nom }}
                                </div>
                                <div class="post-date">
                                    {{ comment.date_creation | date: 'dd/MM/yyyy' }}
                                </div>
                            </div>
                        </div>
                        <div class="comment-content">
                            {{ comment.contenu }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-posts-container" *ngIf="posts.length === 0 && !loader">
            <h3>Pas de publications dans cette catégorie</h3>
            <button class="primary-btn">Publier</button>
        </div>
    </div>
</div>
