/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.primary-btn {
    padding: 8px 14px;
    background-color: #15c8bb94;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    font-family: 'Segoe UI', sans-serif;

    &:hover {
        background-color: #15c8bb;
    }
}

.secondary-btn {
    padding: 8px 14px;
    background-color: #fff;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: none;
    color: #15c8bb;
    font-family: 'Segoe UI', sans-serif;

    &:hover {
        background-color: #e6e6e6;
    }
}

/* Container Global Styling */
.container-box {
    border-radius: 10px;
    padding: 10px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 

.container-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .page-title {
        font-size: 24px;
    }
    & .page-subtitle {
        font-size: 16px;
        color: gray;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.container-content {
    width: 100%;
    padding-top: 10px;
    max-height: -webkit-fill-available;
    overflow-y: auto;
}