<div class="main-container">
    <div class="categories-container">
        <div class="category-container">
            <div class="left-part">
                <div class="category-titles">
                    <div class="category-title">
                        Santé
                    </div>
                    <div class="category-subtitle">
                        Découvrez les meilleurs produits de santé
                    </div>
                </div>
                <div class="bottom-part" (click)="navigateToCategory('sante')">
                    En savoir plus
                </div>
            </div>
            <div class="right-part">
                <img src="../../../assets/img/categories/sante.png" alt="">
            </div>
        </div>
        <div class="category-container">
            <div class="left-part">
                <div class="category-titles">
                    <div class="category-title">
                        Sociale
                    </div>
                    <div class="category-subtitle">
                        Découvrez les meilleurs produits de santé
                    </div>
                </div>
                <div class="bottom-part">
                    En savoir plus
                </div>
            </div>
            <div class="right-part">
                <img src="../../../assets/img/categories/sociale.png" alt="">
            </div>
        </div>
        <div class="category-container">
            <div class="left-part">
                <div class="category-titles">
                    <div class="category-title">
                        Sentimentale
                    </div>
                    <div class="category-subtitle">
                        Découvrez les meilleurs produits de santé
                    </div>
                </div>
                <div class="bottom-part">
                    En savoir plus
                </div>
            </div>
            <div class="right-part">
                <img src="../../../assets/img/categories/sentimentale.png" alt="">
            </div>
        </div>
    </div>
    <div class="nsihet-mjarreb-part">
        <div class="part-label">
            Hkeyti c'est aussi
        </div>
        <div class="nsihet-mjarreb-container">
            <img src="../../../assets/img/categories/nsihet_mjarreb.png" alt="">
        </div>
    </div>
</div>
