<div class="main-container container-box">
    <div class="container-header">
        <div class="page-title">
            Nsihet mjarreb
        </div>
        <div class="page-subtitle">
            Ou vous pouvez raconter votre experience...
        </div>
    </div>
    <div class="container-content">
        <div class="main-content">
            <div class="category-selector">
                <label for="">Selectionner votre catégorie</label>
                <select name="" id="">
                    <option value="" selected>Santé</option>
                    <option value="">Sociale</option>
                    <option value="">Sentimentale</option>
                </select>
            </div>
            <div class="writing-zone">
                <div class="left-page"></div>
                <div class="right-page"></div>
            </div>
            <div class="action-btns">
                <button class="primary-btn">Enregistrer</button>
                <button class="secondary-btn" routerLink="/hkeyti/accueil">Annuler</button>
            </div>
        </div>
    </div>
</div>