<div class="main-container container-box">
    <div class="container-header">
        <div class="page-title">
            Catégories
        </div>
        <div class="page-subtitle">
            Les catégories dans lesquelles vous pouvez publier vos questions
        </div>
    </div>
    <div class="container-content">
        <div class="w-100 d-flex justify-content-center">
            <span class="loader" *ngIf="loader"></span>
        </div>
        <div class="categories-container" *ngIf="!loader">
            <div class="category-container" *ngFor="let categorie of categories" (click)="goToCategory(categorie.id)">
                <div class="category-textual-infos">
                    <div class="category-title">{{ categorie.titre }}</div>
                    <div class="category-description">{{ categorie.description }}</div>
                </div>
                <div class="category-img">
                    <img src="../../../assets/img/categories/sante.png" alt="" *ngIf="categorie.titre === 'Santé'">
                    <img src="../../../assets/img/categories/sentimentale.png" alt="" *ngIf="categorie.titre === 'Sentimentale'">
                    <img src="../../../assets/img/categories/sociale.png" alt="" *ngIf="categorie.titre === 'Sociale'">
                </div>
            </div>
        </div>
    </div>
</div>
